#app {background: linear-gradient(0deg, #DBDBD3 85%, #019788 15%);}

#user1 {
    height: 50px;
    width: 50px;
}
.azure-bg {
    background-color: #8EDAFC;;
}
.rounded-circle {
    background-color: white;
    font-size: 3rem;
    color:#8EDAFC;;
}
.prima-chat{
    background-color: rgb(255, 255, 255);
}
.aperta-chat{
    background-color: rgb(198, 196, 196);
}
.open-chat{
    background-image: url("./mine.jpg");
}
.received > div{
    background-color: rgb(255, 255, 255);
    width: 50%;
}
.sent > div {
    background-color:#D5F9BA;
    width: 50%;
}
.hour-sent {
    font-size: 0.5rem;
}
.sent {
justify-content: end;
display: flex
}
.received {
    justify-content: start;
    display: flex
}

.button-hour:hover .d-none {
color: #D5F9BA;
display: block !important;
}

.prima-chat:hover {
    background-color: #8EDAFC;
    display: block !important;
}


